extends ../layouts/common.pug

block content
    h1 Create user

    form(action="/users/create", method="POST", class="d-flex")
        label Name
        input(name="name", type="text", class="form-control")

        button(class="btn btn-primary ml-2") Create